.service-header {
  background-color: salmon;
  padding: 2px;
  border-radius: 30px 30px 30px 30px;
  width: 35%;
  text-align: center;
}
.review-header {
  background-color: steelblue;
  padding: 2px;
  border-radius: 30px 30px 30px 30px;
  width: 35%;
  text-align: center;
}

.ask-question-header {
  background-color: rgb(167, 64, 145);
  padding: 2px;
  border-radius: 30px 30px 30px 30px;
  width: 35%;
  text-align: center;
}
.blog-header {
  background-color: rgb(39, 182, 108);
  padding: 2px;
  border-radius: 30px 30px 30px 30px;
  width: 35%;
  text-align: center;
}

.contents {
  margin-bottom: 100px;
  margin-top: 50px;
}
